{
  "seq_rollup_address": "{{ sequencer_genesis_rollup_address}}",
  "seq_da_address": "{{ sequencer_genesis_da_address }}",
  "coins_to_lock": {
    "amount": 50,
    "token_address": "sov1qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq0xu3qn"
  },
  "is_preferred_sequencer": true
}