{
  "seq_rollup_address": "{{ sequencer_rollup_address}}",
  "seq_da_address": "{{ sequencer_da_address }}",
  "coins_to_lock": {
    "amount": 50,
    "token_address": "sov1zsnx7n2wjvtkr0ttscfgt06pjca3v2e6stxeu49qwynavmk7a8xqlxkkjp"
  },
  "is_preferred_sequencer": true
}