global:
  scrape_interval: 15s
  external_labels:
    monitor: '{{ aws_prometheus_monitoring_label }}'

scrape_configs:
  - job_name: 'scrape'
    static_configs:
      - targets: ['localhost:9090', 'localhost:9100']

remote_write:
  - url: '{{ aws_prometheus_remote_write_url }}'
    sigv4:
      region: '{{ aws_region }}'